<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:postgresql://ec2-3-91-112-166.compute-1.amazonaws.com:5432/dau5ktcgs5666r</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">rhwklwwdzvazec</property>
        <property name="connection.password">8bccf4c6be55ffa18fb862c05688b6d8f49d95dbd1e3daa96ca1501b10fa8f9b</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="project.entity.Income"/>
        <mapping class="project.entity.Price"/>
        <mapping class="project.entity.Spending"/>
    </session-factory>

</hibernate-configuration>